/*********************************************
 * FONTS
 *********************************************/

@font-face {
  font-family: 'Englebert';
  font-style: normal;
  font-weight: 400;
  src: local('Englebert'), local('Englebert-Regular'), url(../files/Englebert.woff) format('woff');
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
	background: #1c1e20;
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #B9C967;
  font-family: 'Englebert', sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none;
}

.reveal h1 {
  text-shadow: none;
}


