/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
	background: #1c1e20;
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #B9C967;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none;
}

/*********************************************
 * CUSTOM STYLES
 *********************************************/

.reveal h1 {
  text-shadow: none;
}

.reveal img, .reveal video, .reveal iframe {
max-width: 70%;
max-height: 70%;
}
