/*********************************************
 * FONTS
 *********************************************/

@font-face {
  font-family: 'Englebert';
  font-style: normal;
  font-weight: 400;
  src: local('Englebert'), local('Englebert-Regular'), url(../files/Englebert.woff) format('woff');
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Englebert', sans-serif;
}

/*********************************************
 * CUSTOM STYLES
 *********************************************/

.tweens-online img {
	height: 300px;
}

.tweens-online li {
	font-size: 70%;
}

.reveal section img {
	border: 1px solid #8D8D8D;
}